// responsive medium screen //768px
@include media-md{
    .home{
        max-width: getMaxWidth(m);

        &-content{
            @include setFlex(column, center, center);
            margin-top: 3rem;
            width: 100%;
            &__profile{
                min-width: 15rem;
                height: 15rem;
            }
        }
    }
}

// responsive large screen //1200px
@include media-lg{

}

// responsive large screen //1900px
@include media-xl{

}